.form-text {
  width:70px;
  height: 30px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.invisible{
    display: none;
}
.floatright{
    float: right;
}
.floatleft{
    float: left;
}
.bgmain{
    display:block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.bg{
    background: rgba(130,130,130,0.5);
}
.bgyellow{
    background: rgba(255,255,0,0.5);
}
.height16{
    height: 16%;
}
.height80{
    padding: 0px;
    height: 83%;
}

.centerform{
    background: rgba(255,255,255,1);
    min-height: 83%;
    border: 1px dimgrey solid;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    box-shadow: 5px 5px #5e5e5e;
    overflow: auto;
}

td,th{
    overflow: auto;
    text-overflow:ellipsis ;
}