<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
	<script src="/static/js/jquery-3.2.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/echarts.js"></script>
    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container-fluid">
    <nav id="top" class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            {% block top %}{% endblock %}
        </ul>
    </nav>

	<div id="left" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        {% block left %}{% endblock %}
    </div>

	<div id="center" class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        {% block center %}{% endblock %}
    </div>

	<div id="right" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        {% block right %}{% endblock %}
    </div>
</div>
</body>
</html>