
{% extends 'base.html' %}
{% import 'mymacros.html'as macros %}
{% block title %}测试页{%endblock%}
{# 导航条 #}
{% block top %}
{% endblock %}
{# 左侧列表 #}
{% block left -%}
    {% if pages.listofleft -%}
        {{macros.list(pages.listofleft)}}
	{%- endif %}
{%- endblock %}
{# 中间数据显示 #}
{% block center -%}
    {% if login %}
        {{macros.login()}}
    {% endif %}
    {% if pages.form -%}
        {{macros.form(pages.form)}}
	{%- endif %}
    {% if pages.table -%}
        {{macros.fliter(pages.table.tablename)}}
        {{macros.table(pages.table)}}
	{%- endif %}
{%- endblock %}
{# 右侧信息反馈 #}
{% block right -%}
    {% with messages = get_flashed_messages() %}
         {% if messages %}
            {% for message in messages %}
                <script>alert("{{ message }}")</script>
            {% endfor %}
        {% endif %}
    {% endwith %}
{%- endblock %}