
{% macro fliter(tablename) -%}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <button id="fliterbt" class="btn btn-primary btn-sm floatleft">过滤</button><form id="fliterform" name="{{tablename}}"  class="floatleft">:</form>
    </div>
{%- endmacro %}
{#  dict={
        "tablename":'',
        "colnames":[(),()],
        "step":0,
        "pages":0,
        "data":[(),()]
        }
#}
{% macro table(dict) -%}
    {# 分页 #}
    <div id="tablearea" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="pagination pagination-sm floatright">
            <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% for num in range(1,dict.pages + 1) -%}
                {% if loop.first -%}
                    <li class="active"><a>{{num}}</a></li>
                {% else -%}
                    <li><a>{{num}}</a></li>
                {%- endif %}
            {%- endfor %}
            <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    {# 数据表 #}
    {% for row in dict.data -%}
        {% if loop.index == 1 -%}
        <table class="table table-condensed">
        <tr>
            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><input type="checkbox"/></th>
            {% for col in dict.colnames -%}
                <th name="{{col[0]}}" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{col[1]}}</th>
            {%- endfor %}
        </tr>
        {% elif loop.index%dict.step==1 and loop.index!=1 -%}
            <table class="table table-condensed invisible">
        <tr>
            <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><input type="checkbox"/></th>
            {% for col in dict.colnames -%}
                <th name="{{col[0]}}" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{col[1]}}</th>
            {%- endfor %}
        </tr>
        {%- endif %}
        <tr>
            <td>{{loop.index}}</td>
            {% for td in row -%}
                <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{td}}</td>
            {%- endfor %}
        </tr>
        {% if ((loop.index + 1)%dict.step==1 and not loop.first) or loop.last -%}
        </table>
        {%- endif %}
    {%- endfor %}
    </div>
{%- endmacro %}
{# form模板 #}
{% macro col(key,notnull) -%}
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="form-group">
            <div><label for={{key}} class=" control-label">{{key}}</label></div>
			{% if notnull=="YES" -%}
				<input type="text" class="form-control" name="{{key}}" placeholder="在此输入">
			{% elif notnull=="NO" %}
				<input type="text" class="form-control bgyellow" name="{{key}}" placeholder="此项必填">
			{%- endif %}
        </div>
    </div>
{%- endmacro %}
{# dict={
        "name":'',
        "url":'',
        "desc":[(),()],
        "data":[(),()]
        }
#}
{% macro form(dict) %}
    <div class="col-lg-12 col-md-12 col-sm-12">
    {% if not dict.data %}{# 添加 #}
        <form class="form-inline" action="{{dict.url}}" method="post">
            <div class="row">
            {% for tuple in dict.desc %}
		        {% if not loop.first %}
			        {% if tuple[0][:1]!='_' and tuple[3]!="PRI" %}
				        {{col(tuple[0],tuple[2])}}
			        {% endif %}
		        {% endif %}
            {% endfor  %}
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    {% elif length(dict.data)==1 %}{# 修改  #}
        <form class="form-inline" action="{{dict.url}}" method="post">
            <div class="row">
            {% for tuple in dict.desc %}
		        {% if not loop.first %}
			        {% if tuple[0][:1]!='_' and tuple[3]!="PRI" %}
				        {{col(tuple[0],tuple[2])}}
			        {% endif %}
		        {% endif %}
            {% endfor  %}
            </div>
            <button type="submit" class="btn btn-default">提交</button>
        </form>
    {% elif length(dict.data)>1 %}{# 批量修改 #}
        <form class="form-inline" action="{{dict.url}}" method="post">
            <div class="row">
            {% for tuple in dict.desc %}
		        {% if not loop.first %}
			        {% if tuple[0][:1]!='_' and tuple[3]!="PRI" and tuple[3]!="UNI" %}
				        {{col(tuple[0],tuple[2])}}
			        {% endif %}
		        {% endif %}
            {% endfor  %}
            </div>
            <button type="submit" class="btn btn-default">提交</button>
        </form>
    {% else %}

    {% endif %}
    </div>
{% endmacro %}
{# 列表 #}
{# dict={
        name:,
        data:[(),()]
        }
#}
{% macro list(dict) %}
    <div class="list-group">
    {% for t in dict.data %}
        <li class="list-group-item"><span class="badge">0</span><a href="{{t[1]}}">{{t[0]}}</a></li>
    {% endfor %}
    </div>
{% endmacro %}

{# 登录模块 #}
{% macro login() %}
    <div class="col-lg-4 col-md-4 col-sm-4 "></div>
    <form action="/login" method="post" class="col-lg-4 col-md-4 col-sm-4 ">
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" id="username"  name="username" placeholder="请输入用户名">
        </div>
        <div class="form-group">
            <label for="password">密  码</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
         </div>
        <input type="submit" name="submit" class="btn btn-primary">
    </form>
    <div class="col-lg-4 col-md-4 col-sm-4 "></div>
{% endmacro %}

{# 导航用户信息 #}
{% macro userinfo() %}
    <li role="presentation"><a href="#" >wz</a></li>
    <li role="presentation"><a href="/logout" >注销</a></li>
{% endmacro %}
{# 弹出窗口背景 #}
{% macro bgmain() -%}
    <div id="bgmain" class="bgmain invisible">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg height16"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg height80"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 height80">
            <div id="formarea" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centerform"></div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bg height16"></div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 bg height80"></div>

    </div>
{%- endmacro %}