
{% extends 'index.html' %}
{% import 'formmacro.html'as forms %}
{% import 'listmacro.html'as lists %}
{% block title %}测试页{%endblock%}
{% block left -%}
{%- endblock %}
{% block pagearea -%}
{# 功能框 #}
    {{lists.fliter("bt")}}
    {% if testdict -%}
        {{lists.table(testdict)}}
	{%- endif %}
    <div id="bgmain" class="bgmain invisible">

        <div class="col-lg-12 col-md-12 col-xs-12 bg height16"></div>
        <div class="col-lg-2 col-md-2 col-xs-2 bg height80"></div>
        <div class="col-lg-8 col-md-8 col-xs-8 height80">
            <div id="formarea" class="col-lg-12 col-md-12 col-xs-12 centerform">wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</div>
            <div class="col-lg-12 col-md-12 col-xs-12 bg height16"></div>
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 bg height80"></div>

    </div>
{%- endblock %}